<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Date - Post Title</title> <!-- Date format: Year_Month_Day -->
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header id="site_header">
            <h1>Lumin<sub>77</sub></h1>
            <nav id="internal_links"> 
                <ul><a href="../index.html">Home</a> | <a href="about_me.html">About Me</a> | <a href="blog.html">Blog</a> | <a href="portfolio.html">Projects</a></ul>
            </nav><hr><br>
        </header>
        <main>
            <br><hr>
        </main>
        <footer id="site_footer">
            <p><em>
Man is condemned to be free; because once thrown into the world, he is responsible for everything he does.
            </em></p>
            <hr><br>
            <nav id="external_links">
                <a href="https://github.com/lumin77049/lumin77049.github.io">site source</a>
            </nav>
        </footer>
    </body>
</html>
