#site_header {
    text-align: center;
}

#site_footer {
    text-align: center;
}

.home_image {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.home_image { /* Just here to render a box where the placeholder image is */
    background-color: rgb(207 232 220);
    border: 2px solid rgb(79 185 227);
    padding: 10px;
    border-radius: 5px;
}
